.container{
  background-color: rgba(236, 233, 228, 1.0);
  min-height: 85vh;
}
.payment-success{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}
.img-success img{
  width: 30%;
  padding: 10px;
}
