.login{
  background-color: rgba(255, 255, 255,0.5) !important;
}
h2{
  color: #7a5744;
}
.modal-content {
  background-color: rgba(248, 194, 145, 0.7);
  padding: 0px 11px 11px;
}
.text-danger{
  font-size: 12px;
}
.modal {
  //width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.submitButton {
  color: #d05f31;
  border-style: solid;
  border-color: darkgoldenrod;
  background-color: #ffdd59;
  overflow: hidden;
  outline:none;
}
.submitButton:hover {
  background-color: rgba(246, 229, 141,0.5);
  color: black;
}
