.warehouse-wrapper{

}
.header {
  background-color: #EE9F1F;
}
//.header > span {
//  color: white;
//}
.sidebar {
  background-color: #FCBC53;
}

.sidebar:hover {
  background-color: #F18502;
  color: white !important;
}
.content {
  background-color: #e4e3e3;
}

.logout-custom {
  cursor: pointer;
}

#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;
  background-color: #FCBC53;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}


/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: black;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #84a9ac;
  height: 35px;
}
.sidebar-separator {
  //background-color: #333;
  background-color: #84a9ac;
  height: 25px;
}
.logo-separator {
  //background-color: #333;
  background-color: #84a9ac;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: "\F0D7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: "\f0da";
  font-family: FontAwesome, serif;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.logo {
  box-shadow: 1px 0px 6px 6px #fff;
  border-radius: 10px;
  background-color: #fff;
  padding: 6px;
  width: 143px;
  height: auto;
  cursor: pointer;
}


