.register{
  background-color: rgba(255, 255, 255,0.5) !important;
}
.text-danger{
  font-size: 13px;
  margin-left: 80px
}
h2{
  color: #7a5744;
}
label{
  margin-top: auto !important;
  margin-bottom: auto;
}
::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}
.star{
  color: red;
}
.submitButton {
  color: #d05f31;
  border-style: solid;
  border-color: black;
  background-color: #ffdd59;
  overflow: hidden;
  outline:none;
}
.submitButton:hover {
  background-color: rgba(246, 229, 141,0.5);
  color: black;
}
