
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container-fluid">
  <div class="row d-flex justify-content-between ">
    <div class="col-5 h3 header-text-color"><span class="fa fa-bars"></span><span>Danh sách nhà phân phối </span></div>
    <div class="col-7 d-flex ">
      <input class="form-control mainButton" type="text" [(ngModel)]="search"
             placeholder="Tìm kiếm theo tên" id="search" style="width: 250px; float: left ">

      <button class="btn btn-primary mainButton btn-create-custom" (click)="searchName()">Tìm kiếm</button>
      <button *ngIf="isSearch === true" class="btn btn-outline-danger ml-1 mainButton" (click)="backToSearch()">Quay
        về
      </button>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-10">
      <button class="btn btn-primary btn-create-custom" (click)="openCreateForm()"><span
        class="fa fa-plus-square"></span> Thêm mới
      </button>
    </div>
    <div class="col-2">
      <button class="btn btn-outline-danger" style="margin-left: 42px" (click)="confirmDeleteAll()"><span
        class="fas fa-trash"></span>
        Xóa nhiều
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped mt-3 ml-0">
        <thead class="table-header">
        <tr>
          <th class="sticky-top">Mã</th>
          <th class="sticky-top">Tên</th>
          <th class="sticky-top">Địa Chỉ</th>
          <th class="sticky-top">Số Điện Thoại</th>
          <th class="sticky-top">Email</th>
          <th class="sticky-top">Sửa</th>
          <th class="sticky-top">Xóa</th>
          <th class="sticky-top">Chi Tiết</th>

          <th scope="col" class="centerDiv">
            <input type="checkbox" id="all" (change)="addToListDelete('all','')" style="display: block"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let distributor of distributorList">
          <tr *ngIf="distributor.id!==idHasModifined">
            <td width="3%">
              {{distributor.id}}
            </td>
            <td width="25%">
              <span>{{distributor.name}}</span>
            </td>
            <td width="20%">
              <span>{{distributor.address}}</span>
            </td>
            <td width="9%">
              <span>{{distributor.numberPhone}}</span>
            </td>
            <td width="20%">
              <span>{{distributor.email}}</span>
            </td>
            <td width="5%">
              <a>
                <button style="font-size: 20px;padding: 2% 10%;margin: 2% 10%;" type="button"
                        class="global-button m-1 customButton"><i
                  class="icon-pencil" (click)="openEditForm(distributor.id)"></i></button>
              </a>
            </td >

            <td width="5%">
              <a>
                <button type="button" class="global-button customButton"><i
                  class="fa fa-trash" (click)="openDeleteForm(distributor.id)"></i></button>
              </a>
            </td>
            <td width="5%">
              <a>
                <button style="font-size: 20px;padding: 2% 10%;margin: 2% 10%;" type="button"
                        class="global-button customButton"><i
                  class="	fa fa-exclamation-circle" (click)="openDetailForm(distributor.id)"></i></button>
              </a>
            </td>
            <td class="centerDiv" style="width: 3%">
              <input *ngIf="distributor.id" type="checkbox" [id]="'checkbox' + distributor.id"
                     (change)="addToListDelete(distributor.id, distributor.name)" style="display: block"></td>
          </tr>
          <tr *ngIf="distributor.id===idHasModifined">
            <td style="width: 2%; color: blue; font-weight: 800">{{distributor.id}}</td>
            <td style="width: 30% ;color: blue; font-weight: 800">{{distributor.name}}</td>
            <td style="color: blue; font-weight: 800">
              <span>{{distributor.address}}</span>
            </td>
            <td style="color: blue; font-weight: 800">
              <span>{{distributor.numberPhone}}</span>
            </td>
            <td style="color: blue; font-weight: 800">
              <span>{{distributor.email}}</span>
            </td>
            <td>
              <a>
                <button style="font-size: 20px;padding: 2% 10%;margin: 2% 10%;" type="button"
                        class="global-button m-1 customButton"><i
                  class="icon-pencil" (click)="openEditForm(distributor.id)"></i></button>
              </a>
            </td>

            <td>
              <a>
                <button type="button" class="global-button customButton"><i
                  class="fa fa-trash" (click)="openDeleteForm(distributor.id)"></i></button>
              </a>
            </td>
            <td>
              <a>
                <button style="font-size: 20px;padding: 2% 10%;margin: 2% 10%;" type="button"
                        class="global-button customButton"><i
                  class="	fa fa-exclamation-circle" (click)="openDetailForm(distributor.id)"></i></button>
              </a>
            </td>
            <td class="centerDiv" style="width: 3%">
              <input *ngIf="distributor.id" type="checkbox" [id]="'checkbox' + distributor.id"
                     (change)="addToListDelete(distributor.id, distributor.name)" style="display: block"></td>
          <tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="z-index: 0">
    <div class="col-12">
      <div class="paging-course fixed-bottom" style="margin-left: 350px">
        <nav aria-label="Page navigation example">
          <ul class="pagination customPaging">
            <li class="page-item" (click)="onFirst()"><a class="page-link">Đầu</a></li>
            <li class="page-item" (click)="onPrevious()" [ngClass]="pageClick==0?'disabled':''">
              <a class="page-link">Trước</a>
            </li>
            <li *ngIf="pageClick != 0" class="page-item" (click)="onChange(pages[pageClick-1])">
              <a class="page-link">{{pageClick}}</a>
            </li>
            <li [ngClass]="(pageClick == pages[pageClick]) ? 'active' : ''" class="page-item"
                (click)="onChange(pages[pageClick])">
              <a class="page-link">{{pageClick + 1}}</a>
            </li>
            <li *ngIf="pageClick < pages.length -1" class="page-item" (click)="onChange(pages[pageClick+1])">
              <a class="page-link">{{pageClick + 2}}</a>
            </li>
            <li *ngIf="pageClick < pages.length -2" class="page-item">
              <a class="page-link">...</a>
            </li>
            <li *ngIf="pageClick < pages.length-2" class="page-item" (click)="onLast()">
              <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
            </li>
            <li class="page-item" (click)="onNext()" [ngClass]="pageClick==totalPages-1?'disabled':''">
              <a class="page-link">Tiếp</a>
            </li>
            <li class="page-item" (click)="onLast()"><a class="page-link">Cuối</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id="openForm"
        hidden>Large modal
</button>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600'
      rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form (ngSubmit)="onSubmit()" [formGroup]="myForm" id="myForm">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-title" id="modal-title">
        <h1>{{functionTitle}}</h1>
      </div>
      <div class="modal-content">
        <div class="modal-body row">
          <div class="col-xl-12" style="position: relative">
            <div class="boundary row">
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-xl-4">
                    <mat-card (mouseover)="hoverUploadPic()" class="mat-card-img" (mouseleave)="leaveUploadPic()"
                              (click)="selectAvatar()">
                      <img id="avatar" src="{{src}}">
                      <input formControlName="id" readonly hidden>
                      <input class="file-upload-input" type='file'
                             (change)="loadImgAvatar($event.target);" accept="image/*"
                             hidden id="myAvatar"/>
                      <i class="img"
                         style="font-size: 100px; color: blue; position: absolute; left: 60px; top:60px ; opacity: 0.1"
                         class="icon-upload-alt"></i>
                    </mat-card>
                    <div class="boxes">
                      <div class="checkItem">
                        <input type="checkbox" id="box-1" (change)="chooseAll($event.target)" class="input"
                               value="Tất cả">
                        <label for="box-1">Phân phối tất cả</label>
                      </div>
                      <div class="checkItem">
                        <input type="checkbox" id="box-2" (change)="chooseOne($event.target)" value="Bánh">
                        <label for="box-2">Bánh</label>
                      </div>
                      <div class="checkItem" (change)="chooseOne($event.target)" style="margin-bottom: 20px">
                        <input type="checkbox" id="box-3" value="Kẹo">
                        <label for="box-3">Kẹo</label>
                        <span class="spanError"
                              *ngIf="!this.myForm.valid">{{getErrorMessage('typeOfDistributor')}} </span>
                      </div>

                    </div>
                  </div>
                  <div class="col-xl-8">
                    <div class="item" style="margin-top: 20px" data-tip="Tên nhà phân phối">
                      <input type="text" formControlName="name" id="name1" placeholder="Tên nhà phân phối*"
                             (focusout)="validateDistributorIsExist()"/>
                      <label id="icon" for="name1"><i class="icon-user"></i></label>
                      <span class="spanMessError" *ngIf="!this.myForm.valid">{{getErrorMessage('name')}} </span>
                    </div>

                    <div class="item">
                      <input type="text" id="address" formControlName="address" placeholder="Địa chỉ*"/>
                      <label id="icon" for="address"><i class="icon-map-marker"></i></label>
                      <span class="spanMessError" *ngIf="!this.myForm.valid">{{getErrorMessage('address')}} </span>
                    </div>
                    <div class="item">
                      <input type="text" id="email" placeholder="Email*" formControlName="email"/>
                      <label id="icon" for="email"><i class="icon-envelope-alt"></i></label>
                      <span class="spanMessError" *ngIf="!this.myForm.valid">{{getErrorMessage('email')}} </span>
                    </div>
                    <div class="item">
                      <input type="text" id="website" placeholder="Website" formControlName="website"/>
                      <label id="icon2" for="website"><i class="fa fa-internet-explorer" aria-hidden="true"></i>
                      </label>
                      <span class="spanMessError" *ngIf="!this.myForm.valid">{{getErrorMessage('website')}}</span>
                    </div>
                    <div class="item">
                      <div class="div1">
                        <input type="text" formControlName="numberPhone" id="phone" placeholder="Số điện thoại*"/>
                        <label id="icon" for="phone"><i class="icon-phone"></i> </label>
                        <span class="spanMessError"
                              *ngIf="!this.myForm.valid">{{getErrorMessage('numberPhone')}} </span>
                      </div>
                      <div class="div2">
                        <input type="text" formControlName="fax" id="fax" placeholder="Fax"/>
                        <label id="icon2" for="fax"><i class="fa fa-fax" aria-hidden="true"></i> </label>
                        <span class="spanMessError" *ngIf="this.myForm.invalid">{{getErrorMessage('fax')}}</span>
                      </div>
                    </div>
                    <div class="item" style="margin-bottom: 15px">
                      <div class="div2">
                        <button class="btn btn-secondary " data-dismiss="modal"
                                style="float: right;background-color: #4c4c4c" id="closeForm">
                          HỦY
                        </button>
                        <button *ngIf="functionMode!=='detail'" class="btn btn-info" type="submit"
                                style="background-color: #ee9f1f; float: left"> {{functionButton}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-progress-bar mode="determinate" max="100" [value]="(percentUpload | async)"></mat-progress-bar>
      </div>
    </div>
  </div>
</form>
<!--DELETE FORM-->
<button id="deleteForm" type="button" class="btn btn-primary" data-toggle="modal" data-target=".delete" hidden>Large
  modal
</button>
<div class="modal fade bd-example-modal-sm delete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-title" id="modal-title2">
      <h1>XÓA NHÀ PHÂN PHỐI</h1>
    </div>
    <div class="modal-content">
      <h5 class="deleteTitle">Bạn có muốn xóa nhà phân phối?</h5>
      <h5 *ngIf="myDistributor" class="deleteTitle distributorName">{{myDistributor.name}}</h5>
      <div>
        <button class="btn btn-dark myButton" data-dismiss="modal" id="closeDeleteForrm">HỦY</button>
        <button class="btn btn-danger myButton" (click)="deleteDistrinbutor(myDistributor.id)">XÓA</button>
      </div>
    </div>
  </div>
</div>
<div id="snackbar"></div>

<!--DELETE-ALL-FORM-->
<button id="deleteAllForm" type="button" class="btn btn-primary" data-toggle="modal" data-target=".deleteAll" hidden>
  Large
  modal
</button>
<div class="modal fade bd-example-modal-sm deleteAll" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-title" id="modal-title2">
      <h1>XÓA TẤT CẢ NHÀ PHÂN PHỐI</h1>
    </div>
    <div class="modal-content">
      <h5 class="deleteTitle" style="margin-bottom: 10px">Bạn có muốn xóa tất cả nhà phân phối được chọn?</h5>
      <ng-container *ngIf="deleteList.length!=0">
        <div *ngFor="let item of deleteList" style="width: 95%; margin: 0 2.5% 0 2.5%">
          <div style="width: 10%;float:left; overflow: hidden; align-content: center" class="centerDiv">
            <i style=" line-height: 30px" class="fas fa-trash"
               (click)="removeFromDeleteList(item)"></i>

          </div>
          <div style="width: 90%;float: left; overflow: hidden">

            <h5 style="float: left; padding-left: 20px; color: #3a57af;line-height: 30px">{{item.name}}</h5>
          </div>

          <!--          <label style="text-align: left; overflow: hidden">-->
          <!--            <button style="float: left" (click)="removeFromDeleteList(item)">X</button>-->
          <!--            {{item.name}}</label>-->
          <!--         <div style="float: left; width: 80% ; ">-->
          <!--           <label style="text-align: left">{{item.name}}</label>-->
          <!--         </div>-->

        </div>
      </ng-container>

      <div>
        <button class="btn btn-dark myButton" data-dismiss="modal" id="closeDeleteAllForm">HỦY</button>
        <button class="btn btn-danger myButton" (click)="deleteAll()" data-dismiss="modal">XÓA</button>
      </div>
    </div>
  </div>
</div>
<div id="snackbar"></div>
