<div class="forgetPassword">
<form>
  <h1 class="text-center pt-2">Quên Mật Khẩu</h1>
  <div class="form-group mb-3">
  <div class="form-row d-flex align-items-center p-4 ">
    <div class="col-md-3">
      <label>
        Email:
      </label>
    </div>
    <div class="col-md-9">
      <input type="email" class="form-control" id="inputEmail22" placeholder="Email">
    </div>
  </div>
</div>
</form>
  <div class="text-center pb-3">
    <button type="submit" class="btn btn-primary submitButton mr-3 ">Gửi email</button>
    <button  class="btn btn-primary submitButton w-25"  data-dismiss="modal"> Hủy </button>
  </div>
</div>
