.forgetPassword{
  background-color: rgba(255, 255, 255,0.5) !important;
}
h1{
  color: #7a5744;
}
label{
  margin-top: auto !important;
  margin-bottom: auto;
}
.submitButton {
  color: whitesmoke;
  border-style: solid;
  border-color: darkgoldenrod;
  background-color: #d05f31;
  overflow: hidden;
  outline:none;
}
.submitButton:hover {
  background-color: rgba(246, 229, 141,0.5);
  color: black;
}
