.title {
  text-align: center;

}

i {
  font-size: 150%;
}

.user-oder-detail {
  border: rgba(255, 165, 2,1.0)solid 2px;
  padding-top: 20px;

  background-color:rgba(236, 233, 228, 0.7);
  min-height: 80vh;
  position: relative;
  top: 50px;
  border-radius: 10px;

}

td img {
  max-width: 100px;
}

.info-oder {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 96%;
  padding: 10px;
  margin: 2%;
  min-height: 12vh;
}

.col-md-4 {
  padding: 0;
  margin: 0;
}


.info-detail {
}

.table-oder {
  background-color: white;
  margin: 1%;
}

.tr-oder:hover {
  background-color: whitesmoke;

}
.tr-oder p{
  line-height: 100%;
}
.image-product {
  padding: 10px;
}

.info-product {
  padding: 20px 10px;

}

.name-product {
  font-style: italic;
  color: rgba(255, 165, 2,1.0);
  font-weight: 700;
}

.btn-follow-oder {
  background-color: #ffe673;
  border:rgb(201, 91, 61) solid 2px;
  color: black;


}
i{
  font-size: 100%;
  margin: 5px;
}

