
<div class="ml-3 row shop-sort">
  <button (click)="sort('createAt')" class="btn btn-light mr-3">Mới Nhất</button>
  <button (click)="sort('amountSold')" class="btn btn-light">Bán Chạy</button>
</div>
<div class="row mt-2">
  <div *ngFor="let product of cakeList | orderBy: key : reverse | paginate: { itemsPerPage: 8, currentPage: p }" class="col-md-3 m-0 mt-2" routerLink="/home-store/products/{{product.productId}}">
    <div class="container__detail">
      <div class="img_product">
        <img class="img__info" src="{{product.imageUrl}}" alt="">
      </div>
      <div class="icon">
        <i class="fa fa-cart-arrow-down"> {{product.discount}}%</i>
      </div>
      <p class="info__cake">{{product.productName}} là dòng sản phẩm nổi tiếng của thương hiệu {{product.brand.brandName}}</p>
      <div class="product__price-discount">
        <p>{{product.price | number: '3.'}} VNĐ</p>
      </div>
      <div class="product__price">
        <p>{{(product.price-((product.price*product.discount)/100)) | number: '3.'}} VNĐ</p>
      </div>
    </div>
  </div>
  <div class="my__pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
