
.container__detail {
  width: 100%;
  height: 22rem;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s linear;
  padding: 15px;
  position: relative;
  background: white;
}
.container__detail:hover{
  transform: translateY(3px);
  box-shadow: 0 4px 5px rgba(246, 229, 141,1);
}
.img__info{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.img_product{
  position: absolute;
  top: 0;
  width: 80%;
}

.icon {
  position: absolute;
  width: 25%;
  height: 15%;
  background-color: rgba(25, 212, 17, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0 0 0 -5px;
  top: 0;
  left: 2%;
  transition: 0.1s linear;
}
.icon:hover {
  transform: translateY(3px);
  background-color: rgba(25, 212, 17, 1);
}

p.info__cake {
  text-align: center;
  position: absolute;
  top: 65%;
  color: black;
  margin: 0 1em;
  font-size: 0.9rem;
}

.product__price{
  position: absolute;
  color: #4f51ff;
  bottom: 0;
  right: 7rem;
  font-size: 1em;
}

.product__price-discount{
  position: absolute;
  color: black;
  bottom: 0.3rem;
  right: 2rem;
  font-size: 0.7em;
  text-decoration: line-through;
}
.my__pagination{
  position: absolute;
  bottom: -55px;
  right: 20px;
  z-index: 1;
  border-top: 1px solid rgba(246, 229, 141,1);
  border-right: 1px solid rgba(246, 229, 141,1);
  border-radius: 6px;
  padding-top: 5px;
}
